<!DOCTYPE html>
<html> 
	<head>
		<title>Analysis</title>
		<link rel='stylesheet' href='/css/asw.css' />
		<script> var gdata = <%- JSON.stringify(gdata) %>;</script>
		<script stype="text/javascript" src="/js/ccchart-min.js" charset="utf-8"></script>
		<script src="/js/vis/vis.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/js/vis/vis.css" type="text/css" charset="utf-8"/>
		<script stype="text/javascript" src="/js/analysis.js" charset="utf-8"></script>
	</head>
	<body>
		<h1>Analysis</h1>
		<h3>累積発話量比率</h3>
		<canvas id="totalSpeakChart"></canvas>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>会話ネットワーク</h3>
		<div id="speakNetwork"></div>
</body>

</html>
