<!DOCTYPE html>
<html> 
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/analysis.css' />
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script stype="text/javascript" src="/js/djview.js" charset="utf-8"></script>
	</head>
	<body>
		<h1><%= title %></h1>
		<h2>測定開始</h2>
		<p><a id="startTimer">スタート</a></p>
		<p><span id="time">00:00</span></p>
		<p></p>

		<h2>入力指標サマリー</h2>
		<p><a id="reset">リセット</a></p>
		<div id="sumtable"></div> <hr /> <h2>フィードバック</h2>
		<p>効果音</p>
		<a id="soundf0">音1</a>
		<a id="soundf1">音2</a>
		<a id="soundf2">音3</a>
		<p>メッセージ</p>
		<a id="messagef0">休憩</a>
		<a id="messagef1">コーヒー</a>
		<a id="messagef2">なし</a>
		<br />
		<a id="messageLevelf0">禁止</a>
		<a id="messageLevelf1">ほのめかし</a>
		<a id="messageLevelf2">促し</a>
		<a id="messageLevelf3">強制</a>
		<a id="messageLevelf4">なし・放任</a>
		<p>画像</p>
		<a id="imagef0">画像1</a>
		<a id="imagef1">画像2</a>
		<a id="imagef2">画像3</a>
		<p>その他</p>
		<a id="">1</a>
		<a id="">2</a>
		<a id="">3</a>
		<hr />
		<center>
			<img src='/img/wpjsample.png' width="100%">
		</center>
	</body>

</html>
