<!DOCTYPE html>
<html> 
	<head>
		<title>部屋内フィードバック用画面</title>
		<link rel='stylesheet' href='/css/analysis.css' />
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script> var commonConfig = <%- JSON.stringify(config) %>;</script>
		<script stype="text/javascript" src="/js/feedbackview.js" charset="utf-8"></script>
	</head>
	<body>
		<div id="imagee"></div>
		<div id="messagee"></div>
		<div id="messageLevele"></div>
	</body>

</html>
