<!DOCTYPE html>
<html> 
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/analysis.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<li><a href='/djview' target="_blank">WPJ用画面</a></li>
			<li><a href='/workerview' target="_blank">ワーカー用画面</a></li>
			<li><a href='/feedbackview' target="_blank">部屋内フィードバック用画面</a></li>
		</ul>
	</body>

</html>
