<!DOCTYPE html>
<html> 
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/analysis.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<li>(1) <a href='/djview' target="_blank">WPJ用画面</a></li>
			<li>(2) <a href='/workerview' target="_blank">ワーカー用画面</a></li>
			<li>(3) <a href='/feedbackview' target="_blank">部屋内フィードバック用画面</a> (操作により音が出ます)</li>
		</ul>
		<hr />
		<img src='/img/terminal.png'>
	</body>

</html>
