<!DOCTYPE html>
<html> 
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/analysis.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<center>
			<img src='/img/workersample.png' width="100%">
		</center>
</body>

</html>
