body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #e7e7e7;
	background-repeat: repeat;
}

h1 {
	color: #5f5f5f;
}


a {
	color: #00B7FF;
	background: url("./button1.png") no-repeat;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 108px;
	height: 27px;
	padding-top: 4px;
	font-weight: bold;
}

a:hover{
	　background: url("./button2.png") no-repeat;
	　color: #e8b7b4;
}

div#container {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}
div#editorbox{
	width:600px;
	float:left;
}


div#infobox {
	width:300px;
	float:left;
}

#clearbox {
	width:100%;
	clear:left;
}

div#radioList {
	visibility: hidden;
	padding: 10px;
	border-radius: 5px;
	background-color: #ffcccc;
}
table {
	border-collapse: collapse;
	border: 1px #696969 solid;
}
td, th {
	border: 1px #696969 solid;
}
td.transition, th.transition {
	width: 50px;
}
td.script {
	width: 40%;
}

canvas#speakPanel {
	border: solid 1px #696969;
}

/** feedback view **/
div#messagee {
	font-size: 30px;
	text-align: center;
	width: 50%;
	background-color: #EEEEEE;
}

div#messageLevele {
	font-size: 30px;
	text-align: center;
	width: 50%;
	background-color: #EEEEEE;
}
